/* Implementacion de fuente interna*/

@font-face {
    font-family: 'brushed';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Mighty\ Brush\ Demo.ttf');
}

/* Implementacion de fuente externa */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Color de la seleccion */

*::selection {
    background-color: magenta;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #616161;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; Fuentes seguras*/
}

h1 {
    font-size: 32px;
    font-family: 'brushed';
}

p {
    font-size: 22px;
    line-height: 1.5;
    text-align: left; /* Valor por defecto */
}

.cita {
    font-weight: 700;
    font-style: italic;
    text-align: center;
    padding: 40px;
    color: #dc143c;
}

/* Sombreados para textos */

.sombreado {
    text-shadow: 2px -2px 4px grey;
    font-size: 36px;
}

/* Subrayar textos */

.subrayado {
    /* text-decoration-line: underline;
    text-decoration-color: #dc143c;
    text-decoration-style: wavy; */
    text-decoration: underline #dc143c wavy; /* Propiedad de tipo shorthand */
}

/* Propiedades de capitalización */

.mayusc {
    text-transform: uppercase;
}

.minusc {
    text-transform: lowercase;
}

.capit {
    text-transform: capitalize;
}