button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 20px;
    background-color: tomato;
    color: white;
    border: 1px solid tomato;
    border-radius: 5px;
    border-bottom: 4px solid rgb(175, 61, 41);
    cursor: pointer;
}

button:hover {
    background-color: rgb(175, 61, 41);
    border-bottom: 4px solid rgb(175, 61, 41);
}

.outline {
    background-color: white;
    color: rgb(175, 61, 41);
}

.outline:hover {
    color: white;
}