<div class="container">
    <div class="row">
        <div class="col-100">
            <h1 class="button-and-tittle">
                <span>Nuevo cliente</span> 
                <button routerLink="/clientes">Volver atrás</button>
            </h1>
        </div>
    </div>
    <div class="row">
        <form [formGroup]="form" (ngSubmit)="enviarCliente()">
            <div class="row">
                <div class="col-100">
                    <label>Nombre cliente <span class="danger" *ngIf="form.controls.nombre.invalid">Obligatorio</span></label>
                    <input type="text" formControlName="nombre">
                    <label>CIF <span class="danger" *ngIf="form.controls.cif.invalid">CIF obligatorio (9 caracteres)</span></label>
                    <input type="text" formControlName="cif">
                    <label>Direccion cliente</label>
                    <input type="text" formControlName="direccion">
                    <label>Localidad cliente</label>
                    <input type="text" formControlName="localidad">
                </div>
            </div>
            <div class="row">
                <div class="col-100 flex j-end">
                    <button [disabled]="form.invalid" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>

