* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/paris-1836415.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero h1{
    color: white;
    padding-top: 150px;
    font-size: 44px;
    text-align: center;
}

.row {
    padding: 40px;
}

.row p {
    color: grey;
    font-size: 20px;
}

/* .parallax {
    padding: 60px 100px;
    background-image:   url('../img/parapente.png'), 
                        url('../img/landscape.jpg');
    background-size: initial, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: 40px 60px, center;
    background-attachment: scroll, fixed;  
}  */

.parallax {
    padding: 60px 100px;
    background-image: url('../img/landscape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Efecto parallax */
} 

.parallax p {
    background-color: rgba(255, 255, 255, 0.60);
    color: tomato;
    font-size: 32px;
    text-align: center;
    padding: 40px;
    font-style: italic;
}

/* comprimir imagenes 

